.categoria-elemento{width:234px;}
.categoria-elemento-foto {width:234px;height:157px;}
.producto_similar{width:231px;height:143px;}

#imagen_contenedor.horizontal{width:600px;height:400px;}
#vitrina_imagen.horizontal {width:635px;}
#infoAdicionalContacto{width:auto;margin-left: 280px;}
